﻿
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#bookList {
    list-style: None;
    width: 500px;
}

#bookList li {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#cart li{
    font-size: 12px;  
}