﻿@model IEnumerable<projekt.Models.BookCartHelper>
<ul id="cart" class="nav">
    <li class="nav-header">Koszyk</li>

    @{ decimal price = 0; }
    @foreach (var book in Model)
    {
        price += book.Count*book.Book.Price;
        <li>@book.Count x @book.Book.Title</li>
    }


    @if (@Model.LongCount() != 0)
    {
        <li>Cena łączna: @price</li>
        <li>@Html.ActionLink("Potwierdź", "Index", "Cart")</li>

    }
</ul>

