﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body {
            padding-bottom: 40px;
            padding-top: 60px;
        }

        .sidebar-nav-fixed {
            width: 15%;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
<div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a><a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")




        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    <ul class="nav ">
                        <li class="nav-header">Kategorie:</li>
                        @Html.Action("GetCategories", "Category")
                    </ul>

                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="well">
                        <ul class="nav">
                            <li class="nav-header">Panel użytkownika:</li>
                            <li>@Html.ActionLink("Twoje zamówienia", "MyOrders", "Order")

                        </ul>

                    </div>
                }
                
                @if (User.IsInRole("admin"))
                {
                    <div class="well">
                        <ul class="nav">
                            <li class="nav-header">Panel administracyjny:</li>
                            <li>@Html.ActionLink("Kategoria", "Index", "Category")</li>
                            <li>@Html.ActionLink("Użytkownicy", "Index", "User")</li>
                            <li>@Html.ActionLink("Role", "Index", "Role")</li>
                            <li>@Html.ActionLink("Autorzy", "Index", "Author")</li>
                            <li>@Html.ActionLink("Książka", "Index", "Book")</li>
                            <li>@Html.ActionLink("Zamówienia", "Index", "Order")</li>

                        </ul>

                    </div>
                }
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
        <div class="col-md-6">
            <div class="">
                @RenderBody()
            </div>

        </div>
        <!--/span-->
        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right affix">
                <div id="cart-box" class="well">
                   @Html.Action("GetCart", "Cart")
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <footer>
        <p>© Footer</p>
    </footer>
</div>
<!--/.fluid-container-->
<!-- /#wrapper -->
    <script>

        $('.addToCart').click(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                contenttype: "application/html; charset=utf-8",
                data: { bookId: $(this).attr("data-book-id") },
                success: function(result) {
                    var $cart = $('#cart');
                    $cart.replaceWith(result);
                },
                error: function(error) {
                    console.log("error");
                    console.log(error);
                }
            });
        });

    </script>

</body>
</html>


