﻿@model projekt.Models.OrderModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfOrder)
        </dd>

        <dt>
            Książki
        </dt>
        <dd>
            @foreach (var cart in Model.CartModels)
            {

                <p>@cart.Book.Title x @cart.Count</p>

            }


        </dd>

        <dt>
            Łączna cena
        </dt>

        <dd>
            @Model.Price
        </dd>
    </dl>
</div>
<p>
    @(User.IsInRole("admin") ? Html.ActionLink("Back to List", "Index") : Html.ActionLink("Back to List", "MyOrders"))
</p>
