﻿@model IEnumerable<projekt.Models.BookViewModel>
@{
    ViewBag.Title = "BookList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BookList</h2>

<ul id="bookList">
    @foreach (var book in Model)
    {

        <li id="bookId-@book.Id">
            <div class="image">
                <img style="width: 90px; height: 115px" src="@book.ImageUrl" alt="cover"/>
                <div class="caption">
                    @Html.ActionLink(book.Title, "Details", "Book", new {id = book.Id}, null)
                </div>
                <div>@Html.DisplayFor(modelItem => book.Price)</div>
                <div>
                    @if (Request.IsAuthenticated)
                    {  
                        <button class="addToCart" data-book-id="@book.Id">Dodaj do koszyka</button>
                    }
                    else
                    {
                        <span style="color: red;">Zaloguj się, aby dodać do koszyka</span>
                    }
                </div>
                <div>

                </div>


            </div>
        </li>
    }
</ul>