﻿@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var category in @ViewBag.Categories)
    {
        <li>@Html.ActionLink((string)category.Name, "BookList", "Home", new { categoryId = category.Id }, null)</li>
    }
</ul>