﻿@model IEnumerable<projekt.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.UserName);
}
