﻿@model IEnumerable<projekt.Models.BookCartHelper>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Koszyk</h2>
<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Ilość</th>
    </tr>
    </thead>
    @{ var el = 0;}
    @foreach (var bookCart in Model)
    {
        <tr>
            <td>@bookCart.Book.Title</td>
            <td>@bookCart.Count</td>
            <td>@Html.ActionLink("Usuń", "DeleteItem", "Cart", new {id = el++}, null)</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Potwierdź", "Confirm", "Cart")
</p>